@model IEnumerable<MutualAid.UI.Models.RequestViewModel>
@{
    ViewData["Title"] = "View My Requests";
}

<h1 class="display-4">View My Requests</h1>
<hr />
@TempData["DeleteSuccessful"]
<div>
    @Html.ActionLink("Create Request", "CreateRequest", "Request") |
    @Html.ActionLink("Back to Account", "MyAccount", "Account")
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAccepted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAcceptedString)
                </td>
                @if (item.IsAccepted)
                {
                    <td>
                        @Html.ActionLink("Details", "RequestDetails", "Request", new { reqId = item.Id })
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Details", "RequestDetails", "Request", new { reqId = item.Id }) |
                        @Html.ActionLink("Edit", "EditRequest", "Request", new { reqId = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteRequest", "Request", new { reqId = item.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
