@model IEnumerable<MutualAid.UI.Models.RequestViewModel>

@{
    ViewData["Title"] = "View User Requests";
}

<h1 class="display-4">View Requests</h1>
<hr />
<p>
    @Html.ActionLink("Create Request", "CreateRequest", "Request") |
    @Html.ActionLink("Back to Account", "Index", "User") 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.County)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Details", "RequestDetails", "Request", new { reqId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
