@model IEnumerable<MutualAid.UI.Models.RequestViewModel>

@{
    ViewData["Title"] = "View All Requests";
}

<h1>View All Requests</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.County)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { reqId = item.Id }) |
                @Html.ActionLink("Details", "Details", new { reqId = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { reqId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
